Package: com.shade.noire
Name: Noire
Depends: mobilesubstrate
Version: 0.1
Architecture: iphoneos-arm
Description: Free iOS 12 Night Mode
Maintainer: Shade Zepheri <ziroalpha@gmail.com>
Author: Shade Zepheri <ziroalpha@gmail.com>
Section: Tweaks
