Package: com.shade.noire
Name: Noire
Depends: mobilesubstrate, preferenceloader, ws.hbang.common
Version: 0.3.2
Architecture: iphoneos-arm
Description: Free iOS 12 Night Mode
Icon: file:///Library/PreferenceBundles/Noire.bundle/icon@2x.png
Depiction: https://shade-zepheri.github.io/depic/index.html?p=com.shade.noire
SileoDepiction: https://shade-zepheri.github.io/depic/com.shade.noire/sileo.json
Maintainer: Shade Zepheri <ziroalpha@gmail.com>
Author: Shade Zepheri <ziroalpha@gmail.com>
Section: Tweaks
