<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.shade.noire</string>
            <key>key</key>
            <string>enabled</string>
            <key>label</key>
            <string>Enable</string>
            <key>PostNotification</key>
            <string>com.shade.noire/ReloadPrefs</string>
        </dict>
		<dict>
            <key>cellClass</key>
            <string>HBTwitterCell</string>
            <key>label</key>
            <string>Shade Zepheri</string>
            <key>user</key>
            <string>alfonso_gonzo</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.shade.noire</string>
            <key>key</key>
            <string>3dtouch</string>
            <key>label</key>
            <string>3D Touch</string>
            <key>PostNotification</key>
            <string>com.shade.noire/ReloadPrefs</string>
        </dict>
		<dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.shade.noire</string>
            <key>key</key>
            <string>controlcenter</string>
            <key>label</key>
            <string>Control Center</string>
            <key>PostNotification</key>
            <string>com.shade.noire/ReloadPrefs</string>
        </dict>
		<dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.shade.noire</string>
            <key>key</key>
            <string>dock</string>
            <key>label</key>
            <string>Dock</string>
            <key>PostNotification</key>
            <string>com.shade.noire/ReloadPrefs</string>
        </dict>
		<dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.shade.noire</string>
            <key>key</key>
            <string>folders</string>
            <key>label</key>
            <string>Folders</string>
            <key>PostNotification</key>
            <string>com.shade.noire/ReloadPrefs</string>
        </dict>
		<dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.shade.noire</string>
            <key>key</key>
            <string>notifications</string>
            <key>label</key>
            <string>Notifications</string>
            <key>PostNotification</key>
            <string>com.shade.noire/ReloadPrefs</string>
        </dict>
		<dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.shade.noire</string>
            <key>key</key>
            <string>widgets</string>
            <key>label</key>
            <string>Widgets</string>
            <key>PostNotification</key>
            <string>com.shade.noire/ReloadPrefs</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
        </dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>GitHub</string>
			<key>subtitle</key>
			<string>Source code</string>
			<key>url</key>
			<string>https://github.com/Shade-Zepheri/Noire</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBTintedTableCell</string>
			<key>label</key>
			<string>Support</string>
			<key>icon</key>
			<string>support.png</string>
			<key>action</key>
			<string>showSupportEmailController</string>
		</dict>
	</array>
	<key>title</key>
	<string>Noire</string>
</dict>
</plist>
